<h3>
  Ajouter une quantité de vin ?
</h3>
<% if flash[:notice] == "impossible la quantité maximum est dépassée !" %>
  <p>Désolé la quantité maximum est dépassée...</p>
<% else %>
  <p>Faite votre choix (en L)</p>
<% end %>

<%= simple_form_for @tank, url: interventions_add_path, method: :post do |f| %>
  <%= f.input :quantity_change, label: "quantité à ajouter " %>
  <%= f.hidden_field :id, value: @tank.id %>
  <%= f.submit "ajout", class: "btn btn-primary"%>
<% end %>
