<h3>Enlever une quantité de vin ?</h3>
<% if flash[:notice] == "impossible d'enlevé en dessous de 0L" %>
  <p>Désolé il est impossible d'enlever du vide...</p>
<% else %>
  <p>Faite votre choix (en L)</p>
<% end %>
<%= simple_form_for @tank, url: interventions_remove_path, method: :post do |f| %>
  <%= f.input :quantity_change, label: "quantité à enlever" %>
  <%= f.hidden_field :id, value: @tank.id %>
  <%= f.submit "enlever", class: "btn btn-primary" %>
<% end %>

