.card_tank_index {
  box-shadow: 9px 9px 20px 0px rgba(0, 0, 0, 0.1);
  margin-top: 43px;
  padding: 23px;
}

.spacing {
  margin: 15px ;
}

.card_activities_tank {
  box-shadow: 9px 9px 20px 0px rgba(0, 0, 0, 0.1);
  margin-top: 43px;
  margin-bottom: 23px;
  padding: 23px;
}

.card_tank_show {
  box-shadow: 9px 9px 20px 0px rgba(0, 0, 0, 0.1);
  margin-top: 43px;
  padding: 23px;
}

.card_title {
  margin-top: 43px;
  margin-left: 23px;
  padding: 23px;
}
