<div class="container">
  <div class="card">
    <% @activities.each do |activity| %>
    <%= activity.tank_name %>
    <%= activity.intervention %>
    <%= activity.old_quantity %>
    <%= activity.new_quantity %>
    <% end %>
  </div>
</div>
